<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
    <div class="card-body">
      <p class="card-text"><span><%=link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> <%=portfolio_item.subtitle %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View', portfolio_show_path(portfolio_item), class: 'btn btn-sm btn-outline-success' %>
          <% if logged_in?(:site_admin) %>
            <%= link_to 'Edit', edit_portfolio_path(portfolio_item), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Delete Item',portfolio_item, method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-sm btn-danger' %>
          <% end %>
          <!-- <button type="button" class="btn btn-sm btn-secondary">Edit</button> -->
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
