<div class="app-card-container">
  <div class="card">

      <h1>About Me</h1>
      
      <hr>
      
      <div class="row">
        <div class="col-md-4">
            <%= image_tag "profile.jpg", width: 200, alt: "profile image" %>
            
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
                <div class="progress">
                  <div 
                    class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                    role="progressbar"
                    aria-valuenow="<%= skill.percent_utilized.inspect %>"
                    aria-valuemax="100"
                    style="width: <%= skill.percent_utilized %>%"
                  >
                    
                  </div>
                </div>
            </div>
            
          <% end %>
        </div>
        
        </div>
        
        
        <div class="col-md-8">
          <p>For over 15 years I have served companies in various roles from sales to customer service. These roles have allowed me to solve challenging problems that affect the lives of others on various levels. It is this experience that allows me to bring a more personal approach to the the development process.</p>
          
  
          
         <%= render 'about_buttons' %>
         <%= render 'about_courses' %>

        </div>
      </div>
      
  </div>
</div>