<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content= "<%= @seo_keywords %>" />


    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

          <div class="col-12 text-center">
            <h1>My Blog</h1>
            <%= link_to 'Write A New Blog', new_blog_path if logged_in?(:site_admin) %>
          </div>
          </div>
      </header>

      <%= render 'shared/blog_nav' %>

    <div role="main" class="container">
      <div class="row">

          <%= yield %>

          <%= render 'shared/blog_sidebar' %>
      </div>

          <footer class="blog-footer">
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
              <a href="#">Back to top</a>
            </p>
          </footer>



          <%= source_helper("blog") %>


    </div>

  </body>
</html>
